@model SistemaGeonet.Models.Movimiento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.unidad_medida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.unidad_medida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.equipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipo.codigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idMovimiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
