@model IEnumerable<SistemaGeonet.Models.Catalogo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAlmAd.cshtml";
}


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


<style type="text/css">
    .table th, .table td {
        text-align: center;
    }
</style>



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Catálogo</h4>
            <p class="card-description"> <a asp-action="RegistrarCatalogo" class="btn btn-success mr-2"> <i class="fa fa-plus" aria-hidden="true"></i>Agregar Equipo</a> </p>
            <table class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Titulo
                        </th>
                        <th>
                            Descripcion
                        </th>
                        <th>
                            Imagen
                        </th>
                        <th>
                            Imagen 2
                        </th>
                        <th>
                            Imagen 3
                        </th>
                        <th>Opciones</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.inventario.Equipo.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantidadVirtual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            <img src="~/images/@item.foto1" height="80" width="80">
                        </td>
                        <td>
                            <img src="~/images/@item.foto2" height="80" width="80">
                        </td>
                        <td>
                            <img src="~/images/@item.foto3" height="80" width="80">
                        </td>
                       
                        <td>

                            <a class="btn btn-info" asp-action="DetalleCatalogo" asp-route-id="@item.idCatalogo"> <i class="fas fa-eye"></i></a>
                            <a class="btn btn-secondary" asp-action="EditarCatalogo" asp-route-id="@item.idCatalogo"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }

            }
        });
    });

</script>


